name: Publish Workshops

on:
  push:
    branches:
      - payton-review-1

jobs:
  build-deploy:
    runs-on: [self-hosted, public, linux, x64]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        with:
          submodules: true
      - run: |
        git fetch origin azure-workshop
        git merge origin/azure-workshop
      - name: Hugo to GH Pages
        uses: chabad360/hugo-gh-pages@v2
        with:
          githubToken: ${{ secrets.PAGES_TOKEN }}
          cname: workshop.bridgecrew.io 
          args: -d aws
